<%- include('layouts/main.ejs') %>
<div class="jumbotron bg-light">
    <h1 class="display-4">Nosotros</h1>
    <p class="lead">Sit laboris reprehenderit laboris consectetur magna fugiat incididunt incididunt veniam sunt nisi non commodo eu. Officia adipisicing sunt aliqua laboris. Dolore cillum duis occaecat aliqua reprehenderit Lorem ullamco sint pariatur eu.</p>
    <hr class="my-4">
    <p>Sunt occaecat et eiusmod proident esse ut sunt Lorem incididunt mollit dolor ex.</p>
</div>
<div class="container pt-3">
    <div class="row">
        <div class="col-md">
            <div class="card m-3" style="width: 18rem;">
                <img class="card-img-top"
                    src="https://scontent.fmex11-1.fna.fbcdn.net/v/t1.0-9/p960x960/83062937_10217970011579905_2472232928478756864_o.jpg?_nc_cat=105&_nc_sid=8024bb&_nc_ohc=wvcC6bnv1OgAX-1g5xU&_nc_ht=scontent.fmex11-1.fna&_nc_tp=6&oh=fe648f604c5192026d7b79574ff56adb&oe=5EF822A4"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Emilio Cantón</h5>
                    <p class="card-text">Soy estudiante del Tecnológico de Monterrey y me encanta la tecnología. Más que
                        eso, quiero un México seguro para todas las mujeres.</p>
                    <a href="https://www.instagram.com/cabemo/">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card m-3" style="width: 18rem;">
                <img class="card-img-top" src="https://unsplash.it/400/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card m-3" style="width: 18rem;">
                <img class="card-img-top" src="https://unsplash.it/400/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card m-3" style="width: 18rem;">
                <img class="card-img-top" src="https://unsplash.it/400/200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('layouts/end.ejs') %>