<%- include('layouts/main.ejs') %>

<div class="jumbotron bg-light">
    <h1 class="display-4">Contacto</h1>
    <p class="lead">En el caso de querer contactarnos mandar un mail a los siguientes correos.</p>
</div>
<div class="container">
    <div class="row jumbotron bg-light">
        <div class="col-sm-8 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">Correos Electronicos</h2>
                <p class="para-perm">A00000000@itesm.mx</p>
                <p class="para-perm">A00000000@itesm.mx</p>
                <p class="para-perm">A00000000@itesm.mx</p>
                <p class="para-perm">A00000000@itesm.mx</p>
                    </div>
                </div>
            </div>
        </div>

<script src="/assets/js/news.js"></script>



<%- include('layouts/end.ejs') %> 