<%- include('layouts/main.ejs') %> 
<div class="jumbotron bg-light">
    <h1 class="display-4">Noticias</h1>
    <p class="lead">Aquí publicaremos las noticias y progresos sobre la aplicación.</p>
</div>
<div class="container">
    <div class="row jumbotron bg-light">
        <div class="col-sm-8 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">Culpa enim sit non incididunt velit pariatur et duis ipsum consequat ea.</h2>
                <p class="blog-post-meta">January 1, 2020 by <a href="#">Author</a></p>
                <p class="para-perm">Eiusmod aliqua Lorem cupidatat ut ad id sunt. Labore consectetur voluptate tempor in excepteur sunt veniam aliquip qui. Ad id aliqua dolore dolor do. Adipisicing Lorem et velit ad irure nisi cupidatat velit. Nostrud minim voluptate sint sit adipisicing qui esse magna sunt Lorem id.</p>
                    <p class="para-temp">Efficiently unleash cross-media information without cross-media value. Quickly
                        maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar
                        solutions without functional solutions.</p>
                        <button type="button" class="btn btn-secondary btn-hide">Hide</button>
                        <button type="button" class="btn btn-secondary btn-show">Show</button>
                    </div>
                </div>
            </div>
        </div>

<script src="/assets/js/news.js"></script>
<%- include('layouts/end.ejs') %> 